/* Footer-Css */
footer{
    font-weight: 500;
}
.footer-bg{
    background: #000;
    color: white;
}
.footer-bg ul li {
    list-style: none;
}
.footer-bg strong{
    color: white;
}
.footer-bg ul li a, .footer-bg p, a{
    color: #54595f;
    text-decoration: none;
    transition: .4s;
}
.footer-bg ul li a:hover, .footer-bg a:hover{
    color: white;
}
.footer-img img{
    transition: .5s;
}
.footer-img img:hover{
    transform: scale(1.1);
}
footer ul{
    padding-left: 0;
    margin-bottom: 50px;
}


/* Media For 992 */
@media only screen and (max-width: 992px){
    footer{
        text-align: center;
        /* margin-bottom: 40px; */
    }
    .corna{
        margin-bottom: 40px;
    }
}